{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SAOS{% endblock %}

{% block content %}
    {% block pageHeader %}
        <div class="container">
              <h1>CSR Config Generator (5130)</h1>
        </div>
        <br>
    {% endblock %}

    {% block inputBlock %}
        {{ super() }} 
    {% endblock %}

     <br>
     <br>

    {% block outputBlock %}
    {% if hostName != None %}
    {% endif %}
    {% endblock %}

<script src="static/clipboard.js-master/dist/clipboard.min.js"></script>
 <script type="text/javascript">
    new ClipboardJS('button');
</script>
{% endblock %}
